html {
    box-sizing: border-box;
    font-size: 62.5%; /** 1rem = 10px **/
}

body {
    background: url(img.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
}

/*Util Tools*/
.no-margin {
    margin: 0;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #4c495d;
    font-family: 'Roboto', sans-serif;
    box-shadow: 0px 2px 2px 3px rgba(0, 0, 0, 0.562);
}

.navbar__logo {
    color: white;
    letter-spacing: 0.5rem;
    font-size: 2.2rem;
}

.navbar__links {
    display: flex;
    justify-content: space-around;
    width: 40%;
    list-style: none;
}
.navbar__links a {
    color: white;
    text-decoration: none;
    letter-spacing: 0.3rem;
    font-weight: bold;
    font-size: 1.5rem;
}

.burger {
    display: none;
}

.burger div {
    width: 2.5rem;
    height: 0.3rem;
    background-color: white;
    margin: 0.5rem;
}

@media screen and (max-width: 800px) {
    body {
        overflow-x: hidden;
    }

    .navbar__links {
        position: absolute;
        /*right: 0px;*/
        height: 92vh;
        top: 8vh;
        background-color: #4c495d;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        transition: transform 0.3s ease-in;
        transform: translateX(100%);
        box-shadow: 0px 2px 2px 5px rgba(0, 0, 0, 0.555);
    }

    .navbar__links a {
        width: 100%;
    }

    .burger {
        display: block;
        cursor: pointer;
    }
}

.navbar-active {
    transform: translateX(0%);
}
